@import 'assets/styles';

.Step3 {
	width: 100%;
	@include smallmobile() {
		height: 260px !important;
	}
	&__header {
		margin-bottom: 76px;
	}
	&__options {
		width: 100%;
		margin-bottom: 200px;
		@include flex(space-between);
		@include smallmobile() {
			justify-content: center;
			gap: 16px;
		}
	}
	&__buttons {
		width: 100%;
		@include flex(space-between);
	}
}
