@import 'assets/styles';

.Step3 {
	width: 100%;
	&__header {
		margin-bottom: 76px;
	}
	&__options {
		width: 100%;
		margin-bottom: 200px;
		@include flex(space-between);
	}
	&__buttons {
		width: 100%;
		@include flex(space-between);
	}
}
