.c-main-btn {
	background-color: #fff;
	padding: 29px 32px;
	border-radius: 10px;
	@include font(24px, 600, 27px, #f90036);
	border-radius: 1000px;
	@include flex;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #fff;
	@include smallmobile() {
		padding: 8px 16px;
		@include font(14px, 600, 19px, #f90036);
		.next-arrow {
			margin-left: 10px !important;
			font-size: 20px !important;
			@include flex;
			text-align: center;
			svg {
				width: 10px;
				height: 14px;
			}
		}
		.prev-arrow {
			margin-right: 10px !important;
			font-size: 20px !important;
			@include flex;
			text-align: center;
			svg {
				width: 10px;
				height: 14px;
			}
		}
	}
	&:hover {
		border-color: #f90036;
		background-color: #f90036;
		color: #fff;
	}
	.next-arrow {
		margin-left: 20px;
		font-size: 40px;
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
	}
	.prev-arrow {
		margin-right: 20px;
		font-size: 40px;
	}
}

.c-main-header {
	text-align: center;
	@include font(34px, 700, 50px, #231f20);
	@include smallmobile() {
		@include font(20px, 600, 25px, #231f20);
	}
}

.c-main-option {
	width: 239px;
	height: 239px;
	padding: 20px;
	border-radius: 50%;
	border: 5px solid #f90036;
	@include flex;
	@include font(96px, 900, 96px, #f90036);
	text-transform: uppercase;
	cursor: pointer;
	text-align: center;
	&:hover,
	&.active {
		background-color: #f90036;
		color: #fff;
	}
	&.sm {
		font-size: 24px;
		line-height: 27px;
	}
	@include smallmobile() {
		flex-shrink: 0;
		width: 125px;
		height: 125px;
		@include font(34px, 600, 42px, #f90036);
	}
}

// React Toggle Custom CSS
.react-toggle {
	touch-action: pan-x;
	transform: scale(1.2);
	display: inline-block;
	position: relative;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	padding: 0;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.react-toggle--disabled {
	cursor: not-allowed;
	opacity: 0.5;
	-webkit-transition: opacity 0.25s;
	transition: opacity 0.25s;
}

.react-toggle-track {
	width: 50px;
	height: 24px;
	padding: 0;
	border-radius: 30px;
	background-color: #4d4d4d;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
	background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
	background-color: #ee3124;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
	background-color: #ee3124;
}

.react-toggle-track-check {
	position: absolute;
	width: 14px;
	height: 10px;
	top: 0px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
	line-height: 0;
	left: 8px;
	opacity: 0;
	-webkit-transition: opacity 0.25s ease;
	-moz-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
	opacity: 1;
	-webkit-transition: opacity 0.25s ease;
	-moz-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
}

.react-toggle-track-x {
	position: absolute;
	width: 10px;
	height: 10px;
	top: 0px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
	line-height: 0;
	right: 10px;
	opacity: 1;
	-webkit-transition: opacity 0.25s ease;
	-moz-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
	opacity: 0;
}

.react-toggle-thumb {
	transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	position: absolute;
	top: 1px;
	left: 1px;
	width: 22px;
	height: 22px;
	border: 1px solid #4d4d4d;
	border-radius: 50%;
	background-color: #fafafa;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
	left: 27px;
	border-color: #ee3124;
}

.react-toggle--focus .react-toggle-thumb {
	-webkit-box-shadow: 0px 0px 3px 2px #0099e0;
	-moz-box-shadow: 0px 0px 3px 2px #0099e0;
	box-shadow: 0px 0px 2px 3px #0099e0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
	-webkit-box-shadow: 0px 0px 5px 5px #0099e0;
	-moz-box-shadow: 0px 0px 5px 5px #0099e0;
	box-shadow: 0px 0px 5px 5px #0099e0;
}
