@import 'assets/styles';

.Step7 {
	width: 100%;
	max-width: 680px;
	margin: 0 auto;
	min-height: 700px;
	@include smallmobile() {
		min-height: 400px;
	}
	&__header {
		margin-bottom: 48px;
		min-height: 80px;
		font-weight: 900 !important;
		font-size: 40px !important;
		line-height: 48px;
		text-align: center;
		color: #000000;
		@include smallmobile() {
			font-weight: 900 !important;
			font-size: 20px !important;
			line-height: 24px;
			min-height: unset !important;
			max-width: 80%;
			margin: 0 auto 48px;
		}
	}
	// &__prize-img {
	// 	width: 100%;
	// 	height: 520px;
	// 	object-fit: cover;
	// 	object-position: center;
	// 	opacity: 0;
	// 	position: absolute;
	// 	z-index: -1;
	// 	&.show {
	// 		z-index: 1;
	// 		opacity: 1;
	// 	}
	// }
	.scratch_me {
		touch-action: none;

		> div {
			border-radius: 10px;
			overflow: hidden;
			width: 500px;
			background-image: url(./../../assets/images/stracBg.png);
			margin: 0 auto;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			-ms-border-radius: 10px;
			-o-border-radius: 10px;
		}
		.scratch_me_prize {
			width: 100%;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
	&__prize-modal {
		position: fixed;
		z-index: 10;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.4);
		padding: 16px;
		@include flex;
		&--content {
			width: 100%;
			max-width: 520px;
			min-height: 500px;
			background-color: #fff;
			border-radius: 10px;
			box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.16);
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			align-items: center;
			text-align: center;
			.section_container {
				width: 100%;
				padding: 0 16px;
			}
			.close-button {
				width: 100%;
				@include flex(flex-end);
				border-bottom: 2px solid #a7a9ac;
				padding: 16px;
			}
			.modal-header {
				margin-top: 20px;
				margin-bottom: 16px;
			}
			.modal-subheader {
				@include font(20px, 700, 24px, #231f20);
			}
			.modal-prize-image {
				width: 100%;
				max-width: 200px;
				height: auto;
				object-fit: contain;
				margin: 0 16px;
			}
			.modal-prize-name {
				font-weight: 600;
				line-height: 1;
				font-size: 20px;
			}
			.modal-paragraph {
				@include font(16px, 400, 20px, #231f20);
				margin: 16px auto 8px;
				max-width: 320px;
				width: 100%;
			}
			button {
				margin: 0 auto 16px;
			}
		}
	}
}
